<h1>Listing impugnations</h1>

<table>
  <tr>
    <th>Edital</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @edital.impugnation.each do |impugnation| %>
  <tr>
    <td><%= impugnation.edital_id %></td>
    <td><%= impugnation.user_id %></td>
    <td><%= link_to 'Exibir', edital_impugnation_path(@edital , impugnation) %></td>
    <td><%= link_to 'Editar', edit_edital_impugnation_path(@edital , impugnation) %></td>
    <td><%= link_to 'Deletar', edital_impugnation_path(@edital , impugnation), :confirm => 'Confirma deleção?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nova Impugnação', new_edital_impugnation_path %>
